<h2><%= title %></h2>

<%= render 'layouts/errors', object: @soap %>

<%= form_with model: @soap, url: path do |f| %>
    <%= f.label :chief_complaint, "Chief Complaint:" %>
    <br>
    <%= f.text_area :chief_complaint, size: "50x3" %>
    <br><br>
    <%= f.label :subjective, "Subjective:" %>
    <br>
    <%= f.text_area :subjective, size: "50x6" %>
    <br><br>
    <%= f.label :objective, "Objective:" %>
    <br>
    <%= f.text_area :objective, size: "50x6" %>
    <br><br>
    <%= f.label :assessment_and_plan, "Assessment & Plan:" %>
    <br>
    <%= f.text_area :assessment_and_plan, size: "50x6" %>
    <br><br>
    <%= f.submit submit %>
<% end %>