<div class="basic-form">
    <%= form_with model: @provider do |f| %>
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :authorization_key, "Authorization Key" %>
        <%= f.password_field :authorization_key, disabled: true %>

        <%= f.submit "Create account", class: "basic-btn add-top-margin" %>
    <% end %>
</div>