<h2><%= title %></h2>

<%= render 'layouts/flash' %>

<%= form_with url: path do |f| %>
    <%= f.fields_for :login do |sf| %>
        <%= sf.label :email %>
        <%= sf.text_field :email %>
        <br>
        <%= sf.label :password %>
        <%= sf.password_field :password %>
        <br>
    <% end %>
    <%= f.submit "Login" %>
<% end %>