<div class="subcontainer-col">
    <h1 id="temp"><%= title %></h1>
    <%= render 'layouts/flash' %>

    <div class="basic-form">
        <%= form_with url: path do |f| %>
            <%= f.fields_for :login do |sf| %>
                <%= sf.label :email %>
                <%= sf.text_field :email %>
                
                <%= sf.label :password %>
                <%= sf.password_field :password %>
            <% end %>
            <%= f.submit "Log in", class: button %>
        <% end %>
    </div>
</div>

