<h2><%= title %></h2>

<%= render 'layouts/flash' %>

<%= form_with model: model, url: path do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Login" %>
<% end %>