<% if params[:encounter_type] == "soap" %>
    <h2>SOAP</h2>
<% elsif @encounter.encounter_type == "soap" %>
    <h2>Edit SOAP</h2>
<% end %>

<%= render 'layouts/errors', object: @encounter %>

<%= form_with model: @encounter, url: url do |f| %>
    <%= f.hidden_field :encounter_type, value: params[:encounter_type] unless @encounter.encounter_type %>

    <% if params[:encounter_type] == "soap" || @encounter.encounter_type == "soap" %>
        <%= render 'soaps/form', f: f %>
    <% end %>

    <br><br>
    <%= f.submit "Submit" %>
<% end %>