<% content_for :breadcrumbs do %>
    <%= link_to "My Patients", provider_patients_path(current_user) %> > <%= link_to "Patient Directory", patients_path %> > <%= link_to full_name(@patient), @patient %> > <%= link_to_unless_current "Encounters", action: "index" %>
<% end %>

<div class="subcontainer-col">
    <h1 id="temp">Encounters (<%= full_name(@patient) %>)</h1>
    <%= render 'layouts/flash' %>

    <% if logged_in_as_provider %>
        <%= render 'type' %>
    <% end %>
    
    <div class="wrapper-col info">
        <p class="subheader">Previous encounters:</p>
        <hr>
        <ul class="list-records">
            <% if !@encounters.blank? %>
                <%= render @encounters %>
            <% else %>
                <p class="italic">No records found</p>
            <% end %>
        </ul>
    </div>
</div>