<% content_for :breadcrumbs do %>
    <%= link_to "Patient Main", provider_patients_path(current_user) %> >> <%= link_to "Patient Directory", directory_patients_path %> >> <%= link_to "Patient File", @patient %> >> <%= link_to_unless_current "Encounters", action: "index" %>
<% end %>

<h2>Encounters (<%= full_name(@patient) %>)</h2>

<%= render 'layouts/flash' %>

<%= render 'type' %>

<ul>
    <%= render @encounters %>
</ul>