<% content_for :breadcrumbs do %>
    <%= link_to "My Patients", provider_patients_path(current_user) %> > <%= link_to "Patient Directory", patients_path %> > <%= link_to full_name(@patient), @patient %> > <%= link_to "Encounters", patient_encounters_path(@patient) %> > <%= link_to_unless_current "#{formatted_date(@encounter.created_at)} [#{@encounter.encounter_type.titleize}]", action: "show" %>
<% end %>

<div class="subcontainer-col">
    <h1 id="temp"><%= @encounter.encounter_type.titleize %></h1>
    <%= render 'layouts/flash' %>
</div>

<% if logged_in_as_provider %>
    <div class="subcontainer-row">
        <div class="wrapper-row-btn">
            <%= button_to edit_encounter_button, edit_patient_encounter_path(@patient, @encounter), method: :get, class: "basic-btn" %>
        </div>
        <div class="wrapper-row-btn">
            <%= button_to "Delete record", patient_encounter_path(@patient, @encounter), method: :delete, class: "empty-btn", data: {confirm: "Are you sure you want to delete this record from the database? You can't undo this action."} %>
        </div>
    </div>
<% end %>

<div class="subcontainer-col">
    <div class="wrapper-col">
        <%= render 'info' %>
    </div>
</div>
