<div class="subcontainer-col static-header">
    <h3>Welcome to</h3>
    <h1>Paperless Paper Chart</h1>
    <p>The nation's most versatile and clutter-free EMR system.</p>
    <%= render 'layouts/flash' %>
</div>

<div class="subcontainer-row">
    <div class="wrapper-row-static static-providers">
        <h3>Providers:</h3>
        <p>New to PPC?</p>
        <p>Create an account to get started!</p>
        <%= button_to "Create an account", new_provider_path, method: :get%> 
        <p>Already have an account? <%= link_to "Log in", providers_login_path %></p>
    </div>

    <div class="wrapper-row-static static-patients">
        <h3>Patients:</h3>
        <p>If this is your first visit,</p>
        <p>click here to make an appointment!</p>
        <%= button_to "Create an account", new_patient_path, method: :get %>
        <p>Already have an account? <%= link_to "Log in", patients_login_path %></p>
        <p>Or log in with your <%= link_to "Google account", '/auth/google_oauth2', method: :post %></p>
    </div>
</div>