<h2><%= title %></h2>

<%= render 'layouts/flash' %>
<%= render 'layouts/errors', object: @patient %>

<% if @patient_suggestion %>
    <p class="italic">Did you mean <%= link_to "#{full_name(@patient_suggestion)} / #{@patient_suggestion.sex.titleize} / #{age(@patient_suggestion.dob)}", patient_path(@patient_suggestion) %>?</p>
<% end %>

<%= form_with model: @patient, url: url do |f| %>
    <% if !logged_in? %>
        <%= render 'form_new', f: f %>
    <% elsif logged_in_as_provider %>
        <%= render 'form_provider', f: f %>
    <% elsif current_user?(@patient) %>
        <%= render 'form_patient', f: f %>
    <% end %>

    <%= f.submit submit %>
<% end %>