<h2><%= title %></h2>

<%= render 'layouts/flash' %>
<%= render 'layouts/errors', object: @patient %>

<%= form_with model: @patient, url: path do |f| %>
    <% if !logged_in? %>
        <%= render 'form_create', f: f %>
    <% end %>
    <% if logged_in_as_provider %>
        <%= render 'form_provider', f: f %>
    <% end %>
    <% if current_user?(@patient) %>
        <%= render 'form_patient', f: f %>
    <% end %>
    <%= f.submit submit %>
<% end %>