<h2><%= full_name(@patient) %></h4>
<h4>Sex: <%= @patient.sex.titleize %></h4>
<h4>Age: <%= age(@patient.dob) %></h4>
<h4>Date of Birth: <%= @patient.dob %></h4>
<h4>Primary Physicians:</h4>
<ul>
    <% @patient.providers.each do |provider| %>
        <li>Dr. <%= full_name(provider) %></li>
    <% end %>
</ul>
