<%= form_with url: search_patients_path, method: :get do |f| %>
    <%= f.label :name, "Patient Name:" %>
    <%= f.fields_for :patient do |attribute| %>
        <%= attribute.text_field :first_name, placeholder: "First Name" %>
        <%= attribute.text_field :last_name, placeholder: "Last Name" %>
    <% end %>
    <br>
    <%= f.submit "Search" %>
<% end %>

<% if @search %>
    <div id="flash-notice">
        <p><%= pluralize(@search.length, 'record') %> found!</p>
    </div>
    <ul>
        <% @search.each do |record| %>
            <li><%= link_to "#{full_name(record)} / #{record.sex.titleize} / #{age(record.dob)}", patient_path(record) %></li>
        <% end %>
    </ul>
<% elsif flash[:search_alert] %>
    <div id="flash-alert">
        <p><%= flash[:search_alert] %></p>
    </div>
<% end %>