<p class="subheader">Search patient:</p>
<%= form_with url: search_patients_path, method: :get do |f| %>
    <%= f.fields_for :patient do |attribute| %>
        <%= attribute.text_field :first_name, placeholder: "First Name" %>
        <%= attribute.text_field :last_name, placeholder: "Last Name" %>
    <% end %>
    <%= f.submit "Search", class: "search-btn" %>
<% end %>

<% if @search %>
    <div>
        <p id="flash-notice"><%= pluralize(@search.length, 'record') %> found!</p>
    </div>
    <hr>
    <ul class="list-records">
        <% @search.each do |record| %>
            <li><%= link_to "#{full_name(record)} / #{record.sex.titleize} / #{age(record.dob)}", patient_path(record) %></li>
            <hr>
        <% end %>
    </ul>
<% elsif flash[:search_alert] %>
    <div>
        <p id="flash-alert"><%= flash[:search_alert] %></p>
    </div>
<% end %>
