<%= render 'layouts/return', text: "Patient Index", path: provider_patients_path(current_user)%>

<h2>Patient Directory</h2>

<p class="italic">Sorted alphabetically by Last Name:</p>
<br>
<% @alphabet_array.each do |letter| %>
    <%= link_to "#{letter}", anchor: letter %> /
<% end %>

<% @patients.each do |letter, grouped_patients| %>
    <h3 id="<%= letter.capitalize %>"><%= letter.capitalize %></h3>
    <ul>
        <% grouped_patients.each do |patient| %>
            <li><%= link_to "#{patient.last_name}, #{patient.first_name}", patient %></li>
        <% end %>
    </ul>
<% end %>