<% content_for :breadcrumbs do %>
    <%= link_to "Patient Archive", provider_patients_path(current_user) %> >> <%= link_to_unless_current "Patient Directory", action: "all" %>
<% end %>

<h2>Patient Directory</h2>

<p class="italic">Sorted alphabetically by Last Name:</p>
<br>
<% @alphabet_array.each do |letter| %>
    <%= link_to "#{letter}", anchor: letter %> /
<% end %>

<% @patients.each do |letter, grouped_patients| %>
    <h3 id="<%= letter %>"><%= letter %></h3>
    <ul>
        <% grouped_patients.each do |patient| %>
            <li><%= link_to "#{patient.last_name.capitalize}, #{patient.first_name.capitalize}", patient %></li>
        <% end %>
    </ul>
<% end %>