<div class="subcontainer-col">
    <h1 id="temp">My Patients</h1>
    <%= render 'layouts/flash' %>
</div>

<div class="subcontainer-row">
    <div class="wrapper-row-btn">
        <%= button_to "View patient directory", patients_path, method: :get, class: "basic-btn" %>
    </div>
    <div class="wrapper-row-btn">
        <%= button_to "+ Create new patient record", new_provider_patient_path(current_user), method: :get, class: "empty-btn" %>
    </div>
</div>

<div class="subcontainer-col">
    <div class="wrapper-col">
        <%= render 'search' %>
        <br>
        <p class="subheader">Recently updated records:</p>
        <hr>
        <ul class="list-records">
            <%= render @patients %>
            <%# could utilize #touch with after_action callback in order to display recently "viewed" records instead %>
        </ul>
    </div>
</div>