<h2>Patient Info</h2>

<div id="flash-notice">
    <% if flash[:message] %>
        <p><%= flash[:message] %></p>
    <% end %>
</div>

<%= button_to "Create New Patient File", new_provider_patient_path(current_user), method: :get %>
<br>

<%= form_with url: search_patients_path, method: :get do |f| %>
    <%= f.label :name, "Patient Name:" %>
    <%= f.text_field :name %>
    <br>
    <%= f.submit "Search" %>
<% end %>

<p>Patients recently viewed by Dr. <%= current_user.name %>:</p>
<ul>
<% @patients.order(updated_at: :desc).limit(5).each do |patient| %>
    <li><%= link_to "#{patient.name} / #{patient.sex.titleize} / #{age(patient.dob)}", provider_patient_path(patient) %></li>
<% end %>
</ul>
