<h2>Patient Info</h2>

<%= render 'layouts/flash' %>

<%= button_to "Create New Patient File", new_provider_patient_path(current_user), method: :get %>
<br>

<%= form_with url: search_patients_path, method: :get do |f| %>
    <%= f.label :name, "Patient Name:" %>
    <%= f.fields_for :patient do |attribute| %>
        <%= attribute.text_field :first_name, placeholder: "First Name" %>
        <%= attribute.text_field :last_name, placeholder: "Last Name" %>
    <% end %>
    <br>
    <%= f.submit "Search" %>
<% end %>

<p>Patient records recently updated by Dr. <%= full_name(current_user) %>:</p>
<ul>
<% @patients.order(updated_at: :desc).limit(5).each do |patient| %>
    <li><%= link_to "#{full_name(patient)} / #{patient.sex.titleize} / #{age(patient.dob)}", patient_path(patient) %></li>
<% end %>
<%# if we wanted, utilize #touch with after_action callback in order to display recently "viewed" records instead %>
</ul>
