<div id="flash-notice">
    <% if flash[:message] %>
        <p><%= flash[:message] %></p>
    <% end %>
</div>

<h2><%= @patient.name %></h3>
<h3>Sex: <%= @patient.sex.titleize %></h6>
<h3>Age: <%= age(@patient.dob) %></h6>
<h3>Date of Birth: <%= @patient.dob %></h6>