<!DOCTYPE html>
<html>
  <head>
    <title>Paperless Paper Chart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container">
      <div class="nav-container">
        <% if logged_in? %>
          <div class="nav-wrapper">
            <%= link_to "Home", current_user %>
          </div>
          <div class="nav-wrapper logout">
            <%= link_to "Logout", logout_path, method: :delete %>
          </div>
        <% else %>
          <div class="nav-wrapper">
            <%= link_to "Return to main", root_path unless current_path == root_path %>
          </div>
        <% end %>
      </div>
      <div class="nav-container">
        <div class="nav-wrapper">
            <%= render 'layouts/breadcrumbs' %>
        </div>
      </div>
      <div class="content-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
