<!DOCTYPE html>
<html>
  <head>
    <title>Paperless Paper Chart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="title" property="og:title" content="Paperless Paper Chart" />
    <meta name="type" property="og:type" content="website" />
    <meta name="image" property="og:image" content="https://lh3.googleusercontent.com/rtHXWhC5zBT3pBZYjVAQIqWgRo4AYi09CBvB_H0LRlRtY94aLolVIMScAXBeLtuP27I-toi_aTVg4IuuS4IeVbeLIoMeQTEuKFyvbV1-qmyhCoR5NFaeK3MJCM-LDkxO5tSdUkyveQGGZKarwHhoY72NJhbYvvGh97QoUwXLQ8y3oMDyjtW7vAzJ_pvHUX5J5xt_uQ-Rlm42D83RyTkm15Egf8RRqS5QqXFZFJNUuWYVNHY8L91-8eqboBS9X2rlpNLmQQY27hSaPp8x41YUjA_8HFKDCYyeihaD3SNseYnJvCU41dHXYULxsPGiotYJMtf-Da_q663IqiKHK_CrGZGj5mFIyVDCbdtYPjU3wu-skQXX-Sv9zoZTC1jIjsw_ZSHNBnL22nsb2n_QpQ1q3lMGaB8dQboLAtnFtHp3DTcyUjVlCSgjw1f1gbUJhf51HDznj0lm0yUvovVNHR_kLdwJoxbB-Vng3J8D8BRwbhgrW1-gavsYDVosoTN7Av_AXaBT_8ZKKlCYijFBG4femV3kt-s71y1EtEBrPQssd4kxsxhMjXr1BfU_cCM0iS9nnu6c0-uxznldcEfC8QhP6jgUY1mRbLRCRnShQnb2L_vB2rYGDk5zV6nQOFke00mOEuz7k7q1Tfx3yQ6KFnczrhwqRgIItBhPn-LEBZVjUI9hv-lTwDLnKCMuvNIIf9ykVoScSexaimkAAKn-AmSpDdnnSRFDwb7Mc8iNbUdqPtNTLDp7eclCoPE3EpUsi7eAn4g-H0-E7-n-e2es8WKTw_-I12UBKRN6cb0MWWZublo120Hax4yeGrYhdHQ6DeqW60o=w2476-h1506-no?authuser=2" />
    <meta name="url" property="og:url" content="http://paperless-paper-chart.herokuapp.com/" />
    <meta name="description" property="og:description" content="A clutter-free EMR (Electronic Medical Record) platform connecting physicians with their patients so that they may easily communicate, manage appointments, track health records, and share documents. Full-stack Ruby on Rails application." />
  </head>

  <body>
    <div class="main-container">
      <div class="nav-container">
        <% if logged_in? %>
          <div class="nav-wrapper">
            <%= link_to "Home", current_user %>
          </div>
          <div class="nav-wrapper logout">
            <%= link_to "Logout", logout_path, method: :delete %>
          </div>
        <% else %>
          <div class="nav-wrapper">
            <%= link_to "Return to main", root_path unless current_path == root_path %>
          </div>
        <% end %>
      </div>
      <div class="nav-container">
        <div class="nav-wrapper">
            <%= render 'layouts/breadcrumbs' %>
        </div>
      </div>
      <div class="content-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
