<!DOCTYPE html>
<html>
  <head>
    <title>Paperless Paper Chart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="title" property="og:title" content="Paperless Paper Chart" />
    <meta name="type" property="og:type" content="website" />
    <meta name="image" property="og:image" content="https://lh3.googleusercontent.com/I0OL7T7CTuo3b0cn9JF3r13QVfRI3H8eNUzVZX9ERvICB0UUtQ-k-ywzt3ML9MAA37T_lDg_FUIkezN5xITAiE3aRFfzqAWh7kcrdw06sJNrf-bWLB0pXnRZoLQBd2ycYwg6bWAY9r0_lT1rWcD374zxk4cwGH_Pze1CVfUgxb3zmnsultY0_CixgqXJOOyqwPdAR6eWvabNuMntCjG3v3AK5JiH_w-mW0EBjiYcNbviJNahQMMtYVOPlG3LsMACqToUHvgoQwQB_EGZdtcpNo2Yq7x-0atRcLLWOtkzInUBZMPVyNECW--SXXVqRxV1HzfS4i-oWf8hlcSW2XIznhtOqboVaqJLQoW603UEUdoT6G4wVChf8bWcmVhtGUqo5VBwiGcUv-fm7pWP_r9qA-0E9s7_Wy3SZBJ2Rk_ZJUUJLmar76BDo1hh9cV6z5lLPxAsg0wjAObe3L02t6M5ggklpMnmqic3s6XWis0BR8bkw5X97pnRKo6_CZPpnlI-si758edQ3F9lmQ7iEUrghiWLnQfajAbtNpOVYq8-jTrRujYEQ4H7XiwIgphrpChNUIPmU0PEuQCBCzQaXunvkrpdDwAzta7MJOOdb0ZWkL6IvKEu4AG4B6IVQOY0krxHOcXMR5cVRZVSH5LILq_zWKjBy7Y48b1d0dk1nNtaj1J0GUYoXYtZ479xgQl4r6pyJS_E4wbgKc_TMmUfM_QFw_uM61aZeoSF1Py_rvX-PI6Amsx4xWOp2yVN1iOp5dTJNnI7o9Osc5TJUzMasMHplSG1aIkX9Zvgxh31OmZMmQvQcBcDSjbulGaVbok3Wik3RBQ=w2476-h1506-no?authuser=2" />
    <meta name="url" property="og:url" content="https://paperless-paper-chart.herokuapp.com/" />
    <meta name="description" property="og:description" content="A clutter-free EMR (Electronic Medical Record) platform connecting physicians with their patients so that they may easily communicate, manage appointments, track health records, and share documents. Full-stack Ruby on Rails application." />
  </head>

  <body>
    <div class="main-container">
      <div class="nav-container">
        <% if logged_in? %>
          <div class="nav-wrapper">
            <%= link_to "Home", current_user %>
          </div>
          <div class="nav-wrapper logout">
            <%= link_to "Logout", logout_path, method: :delete %>
          </div>
        <% else %>
          <div class="nav-wrapper">
            <%= link_to "Return to main", root_path unless current_path == root_path %>
          </div>
        <% end %>
      </div>
      <div class="nav-container">
        <div class="nav-wrapper">
            <%= render 'layouts/breadcrumbs' %>
        </div>
      </div>
      <div class="content-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
